.logoCard {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 16px;
  padding: 0.5rem;
}

.logoImg {
  width: 100px;
  height: auto;
  border-radius: 12px;
  display: block;
}

.sm {
  width: 100px;
  height: auto;
  border-radius: 8px;
  display: block;
}

.md {
  width: 500px;
  height: auto;
  border-radius: 12px;
  display: block;
}